html,
body {
  height: 100%;
}

body {
  font-size: 20px;
  line-height: 26px;
  color: $default;
  @extend %SuisseIntl-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  color: inherit;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  display: inline-block;
  font-size: 64px;
  line-height: 83px;
  @extend %SuisseIntl-700;
  padding: 0 81px;
  position: relative;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: $accent;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    right: 0;
  }
  &::before {
    left: 0;
  }
}
