@media (max-width: 1300px) {
  .header {
    &__content {
      display: none;
      &--active {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 300px;
        left: 0;
        background-color: #fff;
        width: 100%;
        .phone {
          padding-right: 0;
          margin-bottom: 20px;
          &::before {
            display: none;
          }
        }
        .email {
          margin: 0 0 20px;
        }
      }
    }
  }
  .header .menu--active {
    position: absolute;
    background-color: #fff;
    top: 80px;
    left: 0;
    width: 100%;
    .menu__list {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
    .menu__item {
      padding-right: 0;
      margin-bottom: 20px;
      border-bottom: 2px solid $accent;
      &:last-child {
        margin-bottom: 0;
      }
      &::after {
        display: none;
      }
    }
    .menu__item + .menu__item {
      margin-left: 0;
    }
  }
  .header .content--active {
    display: none;
  }
  .top-slider {
    padding: 130px 0 0;
    &__container {
      padding: 0 15px;
    }
    &__item {
      flex-direction: column;
      justify-content: space-between;
    }
    &__content {
      margin-right: 0;
      margin-bottom: 60px;
    }
    &__form {
      box-shadow: none;
    }
    &__counter {
      bottom: -50px;
    }
    .slick-dots {
      bottom: -40px;
    }
  }
  .top-info {
    margin-top: 100px;
    &__container {
      &::after {
        display: none;
      }
    }
    &__inner {
      flex-direction: column;
      &::after {
        top: 20%;
        height: 140px;
      }
      &::before {
        top: 60%;
        width: 50px;
      }
    }
    &__item {
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__item--staff {
      &::after {
        left: 50%;
        top: 77px;
        transform: rotate(90deg);
      }
      &::before {
        transform: rotate(90deg);
        left: 50%;
        top: -115px;
      }
    }
    &__item--graduate {
      padding-top: 35px;
    }
  }
  .course {
    &__english-inner {
      &::after {
        right: 0;
      }
    }
    &__english-img,
    &__polish-img {
      height: auto;
    }
    &__polish-inner {
      &::before {
        width: 570px;
      }
    }
  }
  .about {
    .title {
      margin: 0 0 30px;
    }
    &__img {
      height: auto;
      max-width: 100%;
    }
  }
}
@media (max-width: 1200px) {
  .about {
    text-align: center;
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__content {
      margin-right: 0;
      margin-bottom: 60px;
    }
    &__text {
      text-align: left;
    }
  }
  .test {
    .tabs-top {
      flex-direction: column;
      &__item {
        margin: 0 auto;
        &--active {
          display: block;
          margin: 0 auto;
          position: relative;
          button {
            display: block;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            width: 18px;
            height: 14px;
            background-image: url(../images/icon/test-list-icon.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            top: 22px;
            right: 12px;
          }
        }
        &--hidden {
          display: none;
          margin: 0 auto;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .course {
    text-align: center;
    .title {
      font-size: 54px;
    }
    &__english-inner {
      padding: 20px;
      margin: 30px 0;
      flex-direction: column;
      align-items: center;
      &::after {
        top: 0;
      }
    }
    &__english-img {
      order: -1;
      max-width: 100%;
    }
    &__polish-img {
      max-width: 100%;
    }
    &__polish-inner {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
    &__english-content,
    &__polish-content {
      margin-left: 0;
      margin-right: 0;
    }
    &__english-title,
    &__polish-title {
      &::after {
        left: 42%;
      }
    }
  }
  .about {
    .title {
      font-size: 54px;
    }
  }
}
@media (max-width: 875px) {
  .top-slider {
    &__img {
      height: 100%;
    }
  }
  .test {
    .tabs-content {
      padding: 30px;
      .screen {
        &__form-inner {
          grid-template-columns: repeat(2, 210px);
          grid-gap: 25px 25px;
        }
        &__buttons {
          display: flex;
          justify-content: center;
        }
      }
    }
    .title {
      font-size: 54px;
    }
  }
}
@media (max-width: 580px) {
  .header {
    &__content {
      &--active {
        top: 310px;
      }
    }
    .user-nav {
      &__link {
        padding: 10px 15px;
        font-size: 16px;
        line-height: 36px;
      }
      &__btn {
        margin-left: 10px;
      }
    }
  }
  .header .menu--active {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .top-slider {
    &__content {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 28px;
      line-height: 36px;
      padding-bottom: 20px;
    }
    &__text {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 18px;
      max-width: 265px;
    }
    &__form {
      display: flex;
    }
    &__input {
      padding: 8px 10px 8px 8px;
      width: 100%;
      font-size: 14px;
      line-height: 18px;
      &::placeholder {
        font-size: 14px;
        line-height: 18px;
      }
    }
    &__btn {
      font-size: 14px;
      line-height: 18px;
      padding: 11px 15px;
    }
    &__counter {
      bottom: -45px;
    }
    &__counter-current,
    &__counter-all {
      font-size: 25px;
      line-height: 1;
    }
    .slick-dots {
      left: 50px;
      button {
        width: 45px;
      }
      li + li {
        margin-left: 10px;
      }
    }
  }
  .top-info {
    margin-top: 70px;
    padding: 35px 0 25px;
    &__inner {
      &::after {
        top: 5%;
        left: -15px;
      }
      &::before {
        top: 70%;
      }
    }
  }
  .course {
    padding: 30px 0 50px;
    text-align: center;
    .title {
      font-size: 28px;
      line-height: 36px;
      padding: 0 42px;
      &::after,
      &::before {
        width: 27px;
        height: 27px;
        border-radius: 5px;
      }
    }
    &__english-inner {
      padding: 10px 10px 16px 10px;
      &::after {
        width: 144px;
        height: 144px;
      }
      &::before {
        width: 286px;
        height: 286px;
        left: 0;
        top: 55%;
      }
    }
    &__polish-inner {
      padding: 10px 10px 16px 10px;
      &::before {
        width: 144px;
        height: 144px;
        top: 60%;
      }
    }
    &__english-content,
    &__polish-content {
      text-align: left;
    }
    &__english-title,
    &__polish-title {
      font-size: 28px;
      line-height: 36px;
      padding: 15px 0 10px;
      &::after {
        left: 0;
      }
    }
    &__english-text,
    &__polish-text {
      font-size: 14px;
      line-height: 18px;
      margin: 12px 0 27px;
    }
    &__english-link,
    &__polish-link {
      font-size: 16px;
      line-height: 21px;
      padding: 10px 30px;
    }
  }
  .about {
    padding: 38px 0;
    &__content {
      margin-bottom: 30px;
    }
    .title {
      margin: 0 0 20px;
      font-size: 28px;
      line-height: 36px;
      padding: 0 42px;
      &::after,
      &::before {
        width: 27px;
        height: 27px;
        border-radius: 5px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
      max-width: 100%;
    }
  }
  .test {
    margin-bottom: 60px;
    .title {
      max-width: 330px;
      font-size: 28px;
      line-height: 36px;
      padding: 0 30px;
      &::after,
      &::before {
        top: 18px;
        width: 27px;
        height: 27px;
        border-radius: 5px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
      max-width: 296px;
      margin: 0 auto;
    }
    .tabs-top {
      margin: 16px 0;
      &__item {
        font-size: 15px;
        line-height: 19px;
        &--active {
          button {
            top: 15px;
          }
        }
      }
    }
    .tabs-content {
      padding: 24px 12px 20px 22px;
      .screen {
        &__title {
          font-size: 24px;
          line-height: 31px;
          padding-bottom: 10px;
        }
        &__descr {
          margin: 13px 0;
          font-size: 14px;
          line-height: 18px;
        }
        &__form-inner {
          display: flex;
          flex-direction: column;
        }
        &__text {
          font-size: 14px;
          line-height: 18px;
        }
        &__buttons {
          margin-top: 30px;
          flex-direction: column;
          align-items: center;
        }
        &__btn {
          font-size: 14px;
          line-height: 18px;
          max-width: 174px;
          padding: 12px 38px;
          &:first-child {
            margin-right: 0;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    &__inner {
      margin-left: -8px;
      margin-right: -5px;
    }
    .header__content {
      &--active {
        top: 240px;
        padding: 10px 10px 20px 10px;
        font-size: 18px;
        .phone,
        .email {
          margin-bottom: 10px;
        }
      }
    }
    .menu--active {
      top: 58px;
      .menu__list {
        padding: 10px;
      }
      .menu__item {
        margin-bottom: 10px;
      }
      .menu__link {
        font-size: 18px;
      }
    }
    .header-logo {
      width: 106px;
      height: 35px;
    }
    .user-nav {
      &__link {
        font-size: 10px;
        line-height: 13px;
        padding: 10px 12px;
      }
      &__btn {
        width: 32px;
        height: 32px;
        padding: 0;
        .bar {
          height: 2px;
        }
        .bar1 {
          top: 10px;
          left: 8px;
          width: 18px;
        }
        .bar2 {
          top: 16px;
          left: 16px;
          width: 10px;
        }
        .bar3 {
          top: 22px;
          left: 8px;
          width: 18px;
        }
        &--close {
          .bar1 {
            top: 16px;
          }
          .bar3 {
            top: 16px;
          }
        }
      }
    }
  }
  .top-slider {
    padding: 90px 0 0;
  }
}
