@media (max-width: 1300px) {
  .header {
    &__content {
      display: none;
      &--active {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 300px;
        left: 0;
        background-color: #fff;
        width: 100%;
        .phone {
          padding-right: 0;
          margin-bottom: 20px;
          &::before {
            display: none;
          }
        }
        .email {
          margin: 0 0 20px;
        }
      }
    }
  }
  .header .menu--active {
    position: absolute;
    background-color: #fff;
    top: 80px;
    left: 0;
    width: 100%;
    .menu__list {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
    .menu__item {
      padding-right: 0;
      margin-bottom: 20px;
      border-bottom: 2px solid $accent;
      &:last-child {
        margin-bottom: 0;
      }
      &::after {
        display: none;
      }
    }
    .menu__item + .menu__item {
      margin-left: 0;
    }
  }
  .header .content--active {
    display: none;
  }
  .top-slider {
    padding: 130px 0 80px;
    &__container {
      padding: 0 15px;
    }
    &__item {
      display: block !important;
    }
    &__content {
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 580px) {
  .header {
    &__inner {
      display: block;
    }
    &__content {
      &--active {
        top: 370px;
      }
    }
    .logo {
      display: block;
      margin-bottom: 20px;
    }
    .user-nav {
      &__link {
        padding: 10px 15px;
        font-size: 16px;
        line-height: 36px;
      }
      &__btn {
        margin-left: 12px;
      }
    }
  }
  .header .menu--active {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    z-index: 5;
  }
}
