@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  background-color: #fff;
  padding: 36px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    &__list {
      display: flex;
    }
    &__item {
      position: relative;
      padding-right: 25px;
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 18px;
        background-color: $accent;
        border-radius: 5px;
        right: 0;
        top: 8px;
      }
      &:last-child {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
    &__item + .menu__item {
      margin-left: 25px;
    }
    &__link {
      color: $default;
      font-size: 24px;
      line-height: 31px;
    }
  }
  .user-nav {
    display: flex;
    &__link {
      background-color: $accent;
      color: #fff;
      font-size: 18px;
      line-height: 23px;
      @extend %SuisseIntl-700;
      padding: 18px 28px;
      border-radius: 10px;
    }
    &__btn {
      margin-left: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $accent;
      border: 0;
      width: 57px;
      height: 57px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
.top-slider {
  margin: 30px 0;
  &__item {
    display: flex !important;
  }
  &__content {
    flex: 0 0 100%;
  }
  &__body {
    width: 55%;
    max-width: 778px;
    padding-top: 57px;
    display: inline-block;
  }
  &__title {
    font-size: 60px;
    line-height: 78px;
    @extend %SuisseIntl-700;
    text-transform: uppercase;
    padding-bottom: 16px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 192px;
      height: 10px;
      background-color: $accent;
      border-radius: 5px;
      left: 0;
      bottom: 0;
    }
  }
  &__text {
    max-width: 370px;
    margin-bottom: 42px;
    margin-top: 16px;
  }
  &__form {
    display: inline-block;
    box-shadow: 0px 36px 47px -18px rgba(51, 213, 190, 0.65);
  }
  &__input {
    padding: 14px 23px 11px;
    width: 335px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    background-color: #f7f7f7;
    &::placeholder {
      color: $default;
    }
  }
  &__btn {
    @extend %btn;
  }
  &__image {
    max-width: 825px;
    height: 600px;
    object-fit: cover;
    z-index: -2;
    flex: 0 0 50%;
    transform: translate(-100%, 0px);
    position: relative;
    img {
      min-width: 825px;
      height: 600px;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .slick-dots {
    display: flex;
    position: absolute;
    top: 0;
    //right: 0;
    //bottom: 55px;
    button {
      font-size: 0;
      border: none;
      background-color: #d6d6d6;
      width: 50px;
      height: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
    li + li {
      margin-left: 20px;
    }
    .slick-active button {
      background-color: $accent;
    }
  }
}

.footer {
  background-color: $default;
  .footer-logo {
    margin-right: 110px;
  }
  .footer-top {
    &__inner {
      display: flex;
      justify-content: space-between;
      padding: 43px 0 41px;
    }
    &__menu {
      display: flex;
    }
    &__item {
      display: flex;
      flex-direction: column;
      &:nth-child(1) {
        padding-right: 77px;
      }
      &:nth-child(2) {
        padding-right: 58px;
        padding-left: 67px;
        position: relative;
        &::after,
        &::before {
          content: '';
          width: 2px;
          height: 68px;
          background-color: $accent;
          position: absolute;
          top: 2px;
        }
        &::before {
          right: 0;
        }
        &::after {
          left: 0;
        }
      }
      &:nth-child(3) {
        padding-left: 58px;
      }
    }
    &__link {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -0.5px;
      color: #fff;
      @extend %SuisseIntl-700;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .go-top {
      margin-left: auto;
    }
  }
  .footer-bottom {
    padding-bottom: 43px;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__link {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #ababab;
    }
    &__social {
      display: flex;
    }
    &__social-link + .footer-bottom__social-link {
      margin-left: 40px;
    }
    &__copyright {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #fff;
      @extend %SuisseIntl-700;
    }
  }
}

@import 'media';
